/vendor
/node_modules
#/resources/access_token.json
#/resources/client_secret.json
.env
.vagrant
.idea
composer.lock
Homestead.yaml
Vagrantfile

# versioned assets
*.map
/public/css/*.css
/public/js/*.js
/public/build/rev-manifest.json

# ide-helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php