[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.box-actions {
  padding: 20px;
  width: 300px !important;
}

.dashboard-card {
  display: inline-block;
  min-height: 200px;
  width: 100%;
}

.g-message-list-item {
  cursor: pointer;
}

.theme-dark {
  .box-actions {
    background-color: #2f3e47!important;
  }
}