<div class="card-box">
    <div class="dropdown pull-right" ng-class="{'open': editable}">
        <a href="#" class="dropdown-toggle card-drop" ng-click="switchEditableMode()">
            <i class="zmdi zmdi-settings"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right" style="width: 300px; padding: 20px;">
            <div ng-transclude="actions"></div>
        </div>
    </div>
    <h4 class="header-title m-t-0 m-b-30">{{ title }}</h4>
    <div ng-transclude="body"></div>
</div>